name: Release
on:
  push:
    tags: ["v*.*.*"]
jobs:
  lint-node:
    name: Run Node.js lint
    uses: kuba2k2/kuba2k2/.github/workflows/lint-node.yml@master
  build-node:
    name: Build Node.js project
    needs:
      - lint-node
    uses: kuba2k2/kuba2k2/.github/workflows/build-node.yml@master
    with:
      files: |
        dist/
        manifest.json
        LICENSE
      output-artifact: firefox-webserial-build-node

  lint-clang:
    name: Run Clang lint
    uses: kuba2k2/kuba2k2/.github/workflows/lint-clang.yml@master
  build-pio:
    name: Build PlatformIO project
    needs:
      - lint-clang
    uses: kuba2k2/kuba2k2/.github/workflows/build-pio.yml@master
    strategy:
      matrix:
        os:
          - runs-on: windows-latest
            pio-env: windows_x86
            post-build: ""
            output-bin: firefox-webserial.exe
            output-artifact: firefox-webserial-raw-native-windows-x86
          - runs-on: ubuntu-latest
            pio-env: linux_x86_64
            post-build: |
              cd .pio/build/linux_x86_64/
              cp firefox-webserial firefox-webserial-linux-x86-64
            output-bin: firefox-webserial-linux-x86-64
            output-artifact: firefox-webserial-native-linux-x86-64
          - runs-on: ubuntu-24.04-arm
            pio-env: native
            pre-build: |
              sudo apt-get install -y libserialport-dev
            post-build: |
              cd .pio/build/native/
              cp firefox-webserial firefox-webserial-linux-arm64
            output-bin: firefox-webserial-linux-arm64
            output-artifact: firefox-webserial-native-linux-arm64
    with:
      runs-on: ${{ matrix.os.runs-on }}
      project-directory: ./native/
      args: -e ${{ matrix.os.pio-env }}
      pre-build: ${{ matrix.os.pre-build }}
      post-build: ${{ matrix.os.post-build }}
      files: |
        native/.pio/build/${{ matrix.os.pio-env }}/${{ matrix.os.output-bin }}
      output-artifact: ${{ matrix.os.output-artifact }}

  build-nsis:
    name: Build NSIS installer
    needs:
      - build-pio
    uses: kuba2k2/kuba2k2/.github/workflows/build-nsis.yml@master
    with:
      input-artifact: firefox-webserial-raw-native-windows-x86
      input-path: native/install/
      script-file: native/install/windows_x86.nsi
      files: |
        native/install/firefox-webserial-v*.exe
      output-artifact: firefox-webserial-native-windows-x86

  release:
    name: Publish GitHub release
    runs-on: ubuntu-latest
    needs:
      - build-node
      - build-pio
      - build-nsis
    permissions:
      contents: write
    steps:
      - name: Download Node.js artifact
        uses: actions/download-artifact@v4
        with:
          name: firefox-webserial-build-node
          path: src

      - name: Build Firefox extension
        id: build
        uses: kewisch/action-web-ext@v1
        with:
          cmd: build
          source: src
          filename: "{name}-{version}.xpi"

      - name: Download native artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: firefox-webserial-native-*
          path: dist
          merge-multiple: true

      - name: Publish GitHub release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ${{ steps.build.outputs.target }}
            dist/firefox-webserial-*
          fail_on_unmatched_files: true
          generate_release_notes: true
